# Run locally

## Set-up

In [1]:
import requests
import json
import getpass

import pandas as pd

## Call API to get team selection options

In [2]:
fpl_team_id = getpass.getpass("Enter fpl_team_id: ")
fpl_email = input("Enter fpl_email: ")
fpl_password = getpass.getpass("Enter fpl_password: ")

Enter fpl_team_id:
Enter fpl_email:
Enter fpl_password:

In [3]:
# (Optional) Overwite total predictions for any given player. Set to high value to maximise chance of selection and low/negative value to minimise.
player_overwrites = {
    'emiliano_martinez': 0,
    'marcos_alonso': 0,
    'olivier_giroud': 0
}

In [4]:
# (Optional) Scale predictions for players in a team e.g. <1 if you are unsure about squad rotation
team_prediction_scalars = {
    'Manchester City': 0.8,
    'Manchester United': 0.8,
    'Aston Villa': 0.8,
    'Burnley': 0.8
}

In [5]:
payload = {
    "previous_gw": 38,
    "season": "2019-20",
    "fpl_team_id": fpl_team_id, 
    "fpl_email": fpl_email, 
    "fpl_password": fpl_password,
    "player_overwrites": player_overwrites,
    "team_prediction_scalars": team_prediction_scalars
}

In [6]:
response = requests.get("http://0.0.0.0:5000/api", json=payload)
response

JSON response contains a key for each permutation evaluated:

In [7]:
response_as_dict = json.loads(response.content)

In [8]:
response_as_dict.keys()

dict_keys(['new_team'])

In [9]:
# Permutation which gives the best total points for all 15 players over the next 5 games:
best_permutation = max(response_as_dict, key=lambda k: response_as_dict[k]['total_points'])
best_permutation

'new_team'

## View transfers for best permutation

In [10]:
response_as_dict[best_permutation].keys()

dict_keys(['team_selected', 'total_points', 'transfers'])

In [11]:
response_as_dict[best_permutation]['total_points']

267

In [12]:
response_as_dict[best_permutation]['transfers']

{'chips_used': [],
 'players_in': ['hugo_lloris',
  'kieran_tierney',
  'harry_kane',
  'georginio_wijnaldum',
  'cesar_azpilicueta',
  'james_ward_prowse',
  'tomas_soucek',
  'mohamed_salah',
  'jamie_vardy',
  'james_justin',
  'mathew_ryan',
  'ben_davies',
  'michail_antonio',
  'nathan_redmond',
  'andrew_robertson'],
 'players_out': []}

In [13]:
team_selected = pd.DataFrame(response_as_dict[best_permutation]['team_selected'])
team_selected

,GW_plus_1,GW_plus_2,GW_plus_3,GW_plus_4,GW_plus_5,bench_order,gw_introduced_in,in_current_team,in_starting_11,is_captain,is_vice_captain,name,now_cost,position_DEF,position_FWD,position_GK,position_MID,predictions,purchase_price,team_name
0,5.075778,5.093116,5.211891,5.165761,5.033982,-1.0,1,0,1.0,0,1,mohamed_salah,12.0,0.0,0.0,0.0,1.0,25.580528,12.0,Liverpool
1,4.644609,4.667690,4.686680,4.619138,4.524013,-1.0,1,0,1.0,0,0,harry_kane,10.5,0.0,1.0,0.0,0.0,23.142132,10.5,Tottenham Hotspur
2,5.087366,4.403376,4.416307,4.245085,4.093724,-1.0,1,0,1.0,1,0,andrew_robertson,7.0,1.0,0.0,0.0,0.0,22.245857,7.0,Liverpool
3,4.494254,4.341823,4.313624,4.194432,4.088376,-1.0,1,0,1.0,0,0,hugo_lloris,5.5,0.0,0.0,1.0,0.0,21.432507,5.5,Tottenham Hotspur
4,4.330068,4.295660,4.204679,4.141298,3.968522,-1.0,1,0,1.0,0,0,jamie_vardy,10.0,0.0,1.0,0.0,0.0,20.940226,10.0,Leicester City
5,3.469840,3.811048,4.012682,4.028402,4.042106,-1.0,1,0,1.0,0,0,michail_antonio,6.5,0.0,1.0,0.0,0.0,19.364079,6.5,West Ham United
6,3.398796,3.463068,3.357922,3.251349,3.172527,-1.0,1,0,0.0,0,0,mathew_ryan,4.5,0.0,0.0,1.0,0.0,16.643661,4.5,Brighton & Hove Albion
7,3.404231,3.389791,3.205713,3.136029,3.020380,-1.0,1,0,1.0,0,0,nathan_redmond,6.5,0.0,0.0,0.0,1.0,16.156145,6.5,Southampton
8,3.727707,3.158642,3.174616,3.031840,2.941999,-1.0,1,0,1.0,0,0,georginio_wijnaldum,5.5,0.0,0.0,0.0,1.0,16.034803,5.5,Liverpool
9,3.154323,3.285331,3.106144,3.052895,2.983618,-1.0,1,0,1.0,0,0,cesar_azpilicueta,6.0,1.0,0.0,0.0,0.0,15.582311,6.0,Chelsea
10,3.129535,3.133315,2.955888,2.923323,2.836015,-1.0,1,0,1.0,0,0,kieran_tierney,5.5,1.0,0.0,0.0,0.0,14.978077,5.5,Arsenal
11,3.073536,3.045680,2.872481,2.791699,2.742816,-1.0,1,0,1.0,0,0,james_ward_prowse,6.0,0.0,0.0,0.0,1.0,14.526212,6.0,Southampton
12,3.053099,2.829484,2.826312,2.768895,2.721310,1.0,1,0,0.0,0,0,ben_davies,5.0,1.0,0.0,0.0,0.0,14.199100,5.0,Tottenham Hotspur
13,2.978560,2.752038,2.755497,2.646618,2.610597,2.0,1,0,0.0,0,0,tomas_soucek,5.0,0.0,0.0,0.0,1.0,13.743309,5.0,West Ham United
14,2.863940,2.778366,2.615640,2.536956,2.461877,3.0,1,0,0.0,0,0,james_justin,4.5,1.0,0.0,0.0,0.0,13.256779,4.5,Leicester City

In [14]:
team_selected['GW_plus_1'].sum(), team_selected['predictions'].sum()

(55.8856418132782, 267.8257255554199)

In [15]:
team_selected['GW_plus_1'].sum() + team_selected.loc[team_selected['is_captain'] == 1]['GW_plus_1'].item()

60.97300744056702

In [16]:
team_selected['now_cost'].sum()

100.0

In [17]:
starting_11 = team_selected[team_selected['in_starting_11'] == 1]
starting_11

,GW_plus_1,GW_plus_2,GW_plus_3,GW_plus_4,GW_plus_5,bench_order,gw_introduced_in,in_current_team,in_starting_11,is_captain,is_vice_captain,name,now_cost,position_DEF,position_FWD,position_GK,position_MID,predictions,purchase_price,team_name
0,5.075778,5.093116,5.211891,5.165761,5.033982,-1.0,1,0,1.0,0,1,mohamed_salah,12.0,0.0,0.0,0.0,1.0,25.580528,12.0,Liverpool
1,4.644609,4.667690,4.686680,4.619138,4.524013,-1.0,1,0,1.0,0,0,harry_kane,10.5,0.0,1.0,0.0,0.0,23.142132,10.5,Tottenham Hotspur
2,5.087366,4.403376,4.416307,4.245085,4.093724,-1.0,1,0,1.0,1,0,andrew_robertson,7.0,1.0,0.0,0.0,0.0,22.245857,7.0,Liverpool
3,4.494254,4.341823,4.313624,4.194432,4.088376,-1.0,1,0,1.0,0,0,hugo_lloris,5.5,0.0,0.0,1.0,0.0,21.432507,5.5,Tottenham Hotspur
4,4.330068,4.295660,4.204679,4.141298,3.968522,-1.0,1,0,1.0,0,0,jamie_vardy,10.0,0.0,1.0,0.0,0.0,20.940226,10.0,Leicester City
5,3.469840,3.811048,4.012682,4.028402,4.042106,-1.0,1,0,1.0,0,0,michail_antonio,6.5,0.0,1.0,0.0,0.0,19.364079,6.5,West Ham United
7,3.404231,3.389791,3.205713,3.136029,3.020380,-1.0,1,0,1.0,0,0,nathan_redmond,6.5,0.0,0.0,0.0,1.0,16.156145,6.5,Southampton
8,3.727707,3.158642,3.174616,3.031840,2.941999,-1.0,1,0,1.0,0,0,georginio_wijnaldum,5.5,0.0,0.0,0.0,1.0,16.034803,5.5,Liverpool
9,3.154323,3.285331,3.106144,3.052895,2.983618,-1.0,1,0,1.0,0,0,cesar_azpilicueta,6.0,1.0,0.0,0.0,0.0,15.582311,6.0,Chelsea
10,3.129535,3.133315,2.955888,2.923323,2.836015,-1.0,1,0,1.0,0,0,kieran_tierney,5.5,1.0,0.0,0.0,0.0,14.978077,5.5,Arsenal
11,3.073536,3.045680,2.872481,2.791699,2.742816,-1.0,1,0,1.0,0,0,james_ward_prowse,6.0,0.0,0.0,0.0,1.0,14.526212,6.0,Southampton

## Qns
- Why is Ramsdale still a Bournmouth player
- Need to update GW 1 prediction to 0 so that player is not selected in starting 11
- Team scalar applied to sum and not an individual GW i.e. next

In [18]:
starting_11['GW_plus_1'].sum(), starting_11['predictions'].sum()

(43.59124684333801, 209.9828758239746)

## View transfers of other permutations

In [ ]:
response_as_dict.keys()

In [ ]:
selected_permutation = '3 transfer'

In [ ]:
response_as_dict[selected_permutation]['total_points']

In [ ]:
response_as_dict[selected_permutation]['transfers']

In [ ]:
team_selected = pd.DataFrame(response_as_dict[selected_permutation]['team_selected'])
team_selected

In [ ]:
team_selected['GW_plus_1'].sum(), team_selected['predictions'].sum()

In [ ]:
starting_11 = team_selected[team_selected['in_starting_11'] == 1]
starting_11

In [ ]:
starting_11['GW_plus_1'].sum(), starting_11['predictions'].sum()